<div *ngIf="!items.length">{{items}}
    <h2>Search Item</h2>
    <form #form="ngForm" class="form-group">

        <label for="category">Category</label>
        <select name="category" class="form-control" [(ngModel)]="item.category" (change)="categoryChanged(item.category)">
            <option disabled value="">(Select Category)</option>
            <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
        </select>
        <div *ngIf="names.length">
            <label for="name">Name</label>
            <select name="name" [(ngModel)]="item.name" class="form-control">
                <option value="">(Select Name)</option>
                <option *ngFor="let name of names" [value]="name.name">{{name.name}}</option>
            </select>
        </div>
        <label for="brand">Brand</label>
        <input class="form-control" type="text" placeholder="brand" name="brand" [(ngModel)]="item.brand">
        <label for="minPrice">MinPrice</label>
        <input class="form-control" type="text" placeholder="minPrice" name="minPrice" [(ngModel)]="item.minPrice">
        <label for="maxPrice">MaxPrice</label>
        <input class="form-control" type="text" placeholder="maxPrice" name="maxPrice" [(ngModel)]="item.maxPrice">
        <label for="color">Color</label>
        <input class="form-control" type="text" placeholder="color" name="color" [(ngModel)]="item.color">
        <label for="model">Model</label>
        <input class="form-control" type="text" placeholder="model" name="model" [(ngModel)]="item.model">
        <label for="origin">Origin</label>
        <input class="form-control" type="text" placeholder="origin" name="origin" [(ngModel)]="item.origin">


        <label for="tags">Tags</label>
        <input class="form-control" type="text" placeholder="tags" name="tags" [(ngModel)]="item.tags">


        <button (click)="submit()" class="btn btn-primary" [disabled]="form.invalid" *ngIf="!submitting">search</button>
        <button class="btn btn-info" disabled *ngIf="submitting">searching...</button>

    </form>
</div>
<div *ngIf="items.length">
    <button (click)="searchAgain()" class="btn btn-info">Search Again</button>
    <div class="row">
        <div *ngFor="let item of items;let i= index" class="col-lg-4 col-md-6 col-sm-12">

            <img src="{{imgUrl}}{{item.image}}" alt="item_image.jpg" width="100%" height="300px"><br>
            <div class="text">
                <label> S.N :</label><span>{{i +1}}</span> <br>
                <label> Name :</label>
                <span *ngIf="item.name">{{item.name}}</span>
                <span *ngIf="!item.name">N/A</span><br>
                <label> Category : </label> <span *ngIf="item.category">{{item.category}}</span>
                <span *ngIf="!item.category">N/A</span><br>
                <label> Price :</label> <span *ngIf="item.price">{{item.price}}</span>
                <span *ngIf="!item.price">N/A</span><br>
                <label>  Brand : </label> <span *ngIf="item.brand">{{item.brand}}</span>
                <span *ngIf="!item.brand">N/A</span>
                <br>
                <button class="btn btn-info" routerLink="/user/contact/{{item.user._id}}">Contact Dealer</button>
            </div>
        </div>
    </div>
</div>